body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    background:
        radial-gradient(circle at top right, #8b0000 0%, transparent 40%),
        radial-gradient(circle at 4px 0%, #8b0000 0%, transparent 30%),
        #000000;
    color: white;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.nav-book {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.nav-para {
    display: flex;
    gap: 30px;
}

.Seat-booking {
    width: 160px;
    padding: 30px;
    background-color: rgba(77, 25, 36);
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.time1:hover {
    background-color: red;
    transform: scale(1.2);
    transition: 1s;
    color: black;
}

.time2:hover {
    transform: scale(1.2);
    transition: 1s;
    background-color: red;
    color: #000000;
}

.select-head {
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left: 250px;
}

.screen {
    border: 1px solid rgba(77, 25, 36);
    width: 700px;
    height: 15px;
    background-color: rgba(77, 25, 36);
}

.seat-select {
    position: relative;
    left: 500px;
    bottom: 200px;
}

.screen-side {
    position: absolute;
    left: 270px;
}
.seat-num{
    display: flex;
    width: 515px;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    left: 560px;
    top: 350px;
}
.seat-name{
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(77, 25, 36);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.seat-num1{
    width: 515px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    top: 470px;
    left: 280px;
}
.seat-name1{
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(77, 25, 36);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.seat-num2{
    width: 515px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    top: 470px;
    left: 835px;
}
.seat-name2{
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(77, 25, 36);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.seat-num3{
    width: 515px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    top: 600px;
    left: 280px;
}
.seat-name3{
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(77, 25, 36);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.seat-num4{
    width: 515px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute;
    top: 600px;
    left: 835px;
}
.seat-name4{
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(77, 25, 36);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.proceed{
    color: white;
    background-color: rgba(77, 25, 36);
    border: none;
    width: 230px;
    height: 40px;
    position: absolute;
    top: 720px;
    left: 700px;
}
.proceed:hover{
    background-color: red;
    transform: scale(1.2);
    transition: 1s;
}