<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/Buyed.css">
    <title>Document</title>
</head>

<body>
    <div class="movie-page">
        <nav class="nav-book">
            <h1 class="nav-single">QuickShow</h1>
            <div class="nav-para">
                <p>Home</p>
                <p>Movies</p>
                <p>Theaters</p>
                <p>Releases</p>
            </div>
            <div class="button-nav">
                <button>Login</button>
                <button>sigin</button>
            </div>
        </nav>
        <h5 class="buy-head">My Booking</h5>
        <div class="Buyed-ticket">
                <div class="buy-main">
                    <img src="Images/batman.jpg"  width="150px" height="150px"  class="buy-img"/>
                    <h4 class="buy-title">Title<br>1h 41m</h4>
                    <h5 class="buy-time">Tue,June 17 at 1:38</h5>
                    <h3 class="buy-cost">$460</h3>
                    <h3 class="buy-ticket">Total Tickets:2</h3>
                    <h3 class="buy-seat">Seat Number:A1,A2,A3,A4</h3>
                </div>
        </div>
    </div>
</body>

</html>