<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Card</title>
  <link rel="stylesheet" href="Css/movie.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
  <div class="container-img"></div>
  <div class="container">
    <h1 style="color: white; position: relative; bottom: 330px; right: 420px;">Now Showing</h1>
    <div class="container-main">
      <img src="Images/weapon.jpg" alt="The Accountant² Poster" class="poster" />
      <h3 class="title">The Accountant²</h3>
      <p class="genre">Crime | Thriller <span class="runtime">2h 13m • 2025</span></p>
      <div class="rating">
        <span class="star">★</span> 7.1
      </div>
      <button class="buy-button">Buy Tickets</button>
    </div>
      <button style="width: 130px; height: 50px; border: none; position: relative; top: 290px; right: 200px; background-color: #f43f5e; color: white;"
      white>Show More</button>
  </div>
</body>
</html>
