<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickShow</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="Css/movie.css">
</head>

<body>
  <!-- Background wrapper -->
  <div style="
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/Images/flipped_guardians.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: Arial, sans-serif;
    overflow: auto;
  ">

    <!-- Top nav -->
    <div class="main">
      <h1 class="main-header">
        <span class="main-single">Q</span>uickShow
      </h1>
      <div class="main-para">
        <p>Home</p>
        <p>Movies</p>
        <p>Theaters</p>
        <p>Releases</p>
      </div>
      <i class="fas fa-search new-class" style="position:relative ; left: 100px;"></i>
      <div>
        <div>
          <button
            style="background-color: red;position: relative;left: 100px; color: white; border: none; padding: 10px;">Login</button>
          <button
            style="position: relative; left: 130px; background-color: red; border: none; color: white; padding: 10px;">SignUp</button>
        </div>
      </div>
    </div>

    <div class="Movie-data">
      <div class="mov-da">
        <img src="Images/weapon.jpg" class="wapone-movie" width="300px" height="400px">
        <h4 class="movie-language">ENGLISH</h4>
        <h1 class="title-mov">Weapone</h1>
        <h2 class="title-icon">
          <i class="fa-solid fa-star father-icon"></i>
          <span>7.1 User Rating</span>
          <h5 class="movie-details">The surviving Eternals regroup after cosmic upheaval. A new celestial threat tests
            their</br> unity and purpose. Gods, heroes, and humans clash in this epic sequel.</h5>
          <h5 class="movie-detail">Directed by Chloé Zhao. Stars Gemma Chan, Richard Madden. Runtime: 2h 35m, Genre:
            Superhero/Fantasy.</h5>
          <h2 class="movie-time">2h 13min Crime,Thiller,Action 2025</h2>
          <button class="watch-trailer">Watch Trailer</button>
          <button class="Buy-tickets">Buy Tickets</button>
          <i class="fa-regular fa-heart heart-like"></i>
      </div>
    </div>
  </div>
</body>

</html>