<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="Css/SeatingBooking.css">
</head>

<body>
    <div class="movie-page">
        <nav class="nav-book">
            <h1 class="nav-single">QuickShow</h1>
            <div class="nav-para">
                <p>Home</p>
                <p>Movies</p>
                <p>Theaters</p>
                <p>Releases</p>
            </div>
            <div class="button-nav">
                <button>Login</button>
                <button>sigin</button>
            </div>
        </nav>
        <div class="Seat-booking">
            <div class="seat-time">
                <h4 class="time0">Available Timings</h4>
                <h5 class="time1">⏰ 02:30 PM</h5>
                <h5 class="time2">⏰ 05:30 PM</h5>
            </div>
        </div>
        <div class="seat-select">
            <h1 class="select-head">Select Your Seat</h1>
            <div class="screen"></div>
            <h5 class="screen-side">SCREEN SIDE</h5>
        </div>

        <div class="seat-num">
            <button class="seat-name">A1</button>
            <button class="seat-name">A2</button>
            <button class="seat-name">A3</button>
            <button class="seat-name">A4</button>
            <button class="seat-name">A5</button>
            <button class="seat-name">A6</button>
            <button class="seat-name">A7</button>
            <button class="seat-name">A8</button>
            <button class="seat-name">A9</button>
            <button class="seat-name">A10</button>
            <button class="seat-name">A11</button>
            <button class="seat-name">B1</button>
            <button class="seat-name">B2</button>
            <button class="seat-name">B3</button>
            <button class="seat-name">B4</button>
            <button class="seat-name">B5</button>
            <button class="seat-name">B6</button>
            <button class="seat-name">B7</button>
            <button class="seat-name">B8</button>
            <button class="seat-name">B9</button>
            <button class="seat-name">B10</button>
            <button class="seat-name">B11</button>
        </div>
        <div class="seat-num1">
            <button class="seat-name1">A1</button>
            <button class="seat-name1">A2</button>
            <button class="seat-name1">A3</button>
            <button class="seat-name1">A4</button>
            <button class="seat-name1">A5</button>
            <button class="seat-name1">A6</button>
            <button class="seat-name1">A7</button>
            <button class="seat-name1">A8</button>
            <button class="seat-name1">A9</button>
            <button class="seat-name1">A10</button>
            <button class="seat-name1">A11</button>
            <button class="seat-name1">B1</button>
            <button class="seat-name1">B2</button>
            <button class="seat-name1">B3</button>
            <button class="seat-name1">B4</button>
            <button class="seat-name1">B5</button>
            <button class="seat-name1">B6</button>
            <button class="seat-name1">B7</button>
            <button class="seat-name1">B8</button>
            <button class="seat-name1">B9</button>
            <button class="seat-name1">B10</button>
            <button class="seat-name1">B11</button>
        </div>
        <div class="seat-num2">
            <button class="seat-name2">A1</button>
            <button class="seat-name2">A2</button>
            <button class="seat-name2">A3</button>
            <button class="seat-name2">A4</button>
            <button class="seat-name2">A5</button>
            <button class="seat-name2">A6</button>
            <button class="seat-name2">A7</button>
            <button class="seat-name2">A8</button>
            <button class="seat-name2">A9</button>
            <button class="seat-name2">A10</button>
            <button class="seat-name2">A11</button>
            <button class="seat-name2">B1</button>
            <button class="seat-name2">B2</button>
            <button class="seat-name2">B3</button>
            <button class="seat-name2">B4</button>
            <button class="seat-name2">B5</button>
            <button class="seat-name2">B6</button>
            <button class="seat-name2">B7</button>
            <button class="seat-name2">B8</button>
            <button class="seat-name2">B9</button>
            <button class="seat-name2">B10</button>
            <button class="seat-name2">B11</button>
        </div>
           <div class="seat-num3">
            <button class="seat-name3">A1</button>
            <button class="seat-name3">A2</button>
            <button class="seat-name3">A3</button>
            <button class="seat-name3">A4</button>
            <button class="seat-name3">A5</button>
            <button class="seat-name3">A6</button>
            <button class="seat-name3">A7</button>
            <button class="seat-name3">A8</button>
            <button class="seat-name3">A9</button>
            <button class="seat-name3">A10</button>
            <button class="seat-name3">A11</button>
            <button class="seat-name3">B1</button>
            <button class="seat-name3">B2</button>
            <button class="seat-name3">B3</button>
            <button class="seat-name3">B4</button>
            <button class="seat-name3">B5</button>
            <button class="seat-name3">B6</button>
            <button class="seat-name3">B7</button>
            <button class="seat-name3">B8</button>
            <button class="seat-name3">B9</button>
            <button class="seat-name3">B10</button>
            <button class="seat-name3">B11</button>
        </div>
           <div class="seat-num4">
            <button class="seat-name4">A1</button>
            <button class="seat-name4">A2</button>
            <button class="seat-name4">A3</button>
            <button class="seat-name4">A4</button>
            <button class="seat-name4">A5</button>
            <button class="seat-name4">A6</button>
            <button class="seat-name4">A7</button>
            <button class="seat-name4">A8</button>
            <button class="seat-name4">A9</button>
            <button class="seat-name4">A10</button>
            <button class="seat-name4">A11</button>
            <button class="seat-name4">B1</button>
            <button class="seat-name4">B2</button>
            <button class="seat-name4">B3</button>
            <button class="seat-name4">B4</button>
            <button class="seat-name4">B5</button>
            <button class="seat-name4">B6</button>
            <button class="seat-name4">B7</button>
            <button class="seat-name4">B8</button>
            <button class="seat-name4">B9</button>
            <button class="seat-name4">B10</button>
            <button class="seat-name4">B11</button>
        </div>
        <button class="proceed">Procees To CheckOut</button>
    </div>
</body>

</html>